/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    line-height: 1.6;
    color: #eee9e9;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    /* background-color: #080111; */
    background-color: #04000d;
    /* color: #0c0171; */
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    
}

.menu-toggle {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

/* Sections */
.section {
    padding: 100px 20px;
    text-align: center;
    color: #fff;
    background-color: rgb(7, 5, 14);
}

.home {
    /* background: url('bg.jpg') center/cover no-repeat; */
    /* color: #fff; */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#homeimg{
   border-radius: 70%;
   min-width: 140px;
   max-width:140px;
   height:150px;
    border: 2px solid rgb(217, 210, 231);
    margin-left:10px;
    overflow: hidden; 
    
}
#homeimg img{
   width: 100%;
   height:100%;
   object-fit: cover; 
   display: block; 
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 25px;
    background-color: #060448d4;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
.download{
    min-width:150px;
 
}
.btn:hover{
    background-color: #4a08f2;
}
/* About */

.about-card{
 border-radius: 10%;
   max-width:200px;
   height:auto;
    margin: auto;
    overflow: hidden; 
    /* background-color: #1a1425e4; */
    /* box-shadow :5px -10px 0px rgba(60, 41, 188, 0.625); */
    box-shadow :2px -2px 0px 0px rgb(217, 216, 225);
    transition: transform 0.3s ease;
    color:#391ba6
}
.about-card img{
    width :100%;
    height: 100%;
   border-radius: 0%;
    
}
.about h2{
    margin-bottom: 10px;
    /* color: #0c0171;
    text-decoration:underline; */
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 255, 0.155), rgba(0, 0, 0, 0));
    color:#9a90f6;
}
.about div{
    margin-top: 20px;
}
.about-cont p{
    text-align: left;
    padding-top: 5px;
}
/* For  Project */
.projects .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 40px;
}

.project-card {
    padding: 20px;
    /* border: 1px solid #ddd; */
    border-radius: 10px;
    background-color: #010c1c;
    box-shadow :0px 0px 2px rgb(39, 37, 56);
    transition: transform 0.3s ease;
} 
.project-card ul {
   text-align:left;
} 
.projects  h2{
    /* color: #0c0171;
    text-decoration:underline; */
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 255, 0.155), rgba(0, 0, 0, 0));
    color:#9a90f6;
}
.project-card h3 {
    color: blueviolet;
}


.project-card:hover {
    transform: scale(1.05);
} 
.project-card a{
    font-size: 14px;
    text-decoration: none;
    color:#043886;
}
.project-card a:hover {
    text-decoration: underline;
  color: #367be3;
}
/* Vedio Section */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  /* background: rgba(0,0,0,0.7); */
}

.modal-content {
  background:transparent;
  width: 80%;
  max-width: 800px;
  margin: 9% auto;
  padding: 10px;
}

iframe {
  width: 100%;
  height: 400px;
}

.close {
  margin-top:25px;
  font-size: 28px;
  cursor: pointer;
  float: right;
}
.demo-btn{
   cursor: pointer;  
}


/* For Skills */
.skill .skill-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 20px;
    margin-top: 40px;
}

.skill-card {
    padding: 20px;
    /* border: 1px solid #ddd; */
    border-radius: 10px;
    background-color: #010c1c;
    box-shadow :0px 0px 2px rgb(39, 37, 56);
    transition: transform 0.3s ease;
}
.skill-card ol{
    margin-left: 50px;
    padding-right: 50px;
}
.skill  h2{
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 255, 0.155), rgba(0, 0, 0, 0));
    color:#9a90f6;
}
.skill-card h3 {
    color: blueviolet;
}

.skill-card:hover {
    transform: scale(1.05);
}
.skill-card a{
    font-size: 14px;
    text-decoration: none;
    color:#043886;
}
.skill-card a:hover {
    text-decoration: underline;
  color: #367be3;
}
/* Exprience */
.Exprience  h2{
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 255, 0.155), rgba(0, 0, 0, 0));
    color:#9a90f6;
}

.section-title {
    font-size: 13pt;
    font-style: initial;
    text-transform: uppercase;
    border-top: 1px solid #000000;
    margin-bottom: 6px;
}

/* ROWS */
.row {
    display: flex;
    justify-content: space-between;
    font-size: 11pt;
}
.left{
    color:rgb(199, 191, 226);
    border-bottom:2px solid rgb(11, 5, 47);
}
.Exprience p{
    text-align: justify;
}
/* For Education */
.education .education-grid {
    /* display: grid; */
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 20px;
    margin-top: 40px;
}

.education-card {
    margin-top: 20px;
    padding: 20px;
    /* border: 1px solid #ddd; */
    border-radius: 10px;
    background-color: #010c1c;
    box-shadow :0px 0px 2px rgb(39, 37, 56);
    transition: transform 0.3s ease;
}

.education  h2{
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 255, 0.155), rgba(0, 0, 0, 0));
    color:#9a90f6;
}
.education-card h3 {
    color: blueviolet;
}

.education-card:hover {
    transform: scale(1.05);
}
.education-card a{
    font-size: 14px;
    text-decoration: none;
    color:#043886;
}
.education-card a:hover {
    text-decoration: underline;
  color: #367be3;
}

/* Certificate / Achievements */
.Achievements .Achievements-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 40px;
}

.Achievements-card {
    
    padding: 20px;
    border-radius: 10px;
    background-color: #010c1c;
    box-shadow :0px 0px 2px rgb(39, 37, 56)  ;
    transition: transform 0.3s ease;
} 
.Achievements .certificate {
    padding: 20px;
    text-align:start;
    transition: transform 0.3s ease;
} 
.Achievements  h2{
    /* background-color: #04000d; */
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 255, 0.155), rgba(0, 0, 0, 0));
    color:#9a90f6;
    /* text-decoration:underline; */
}
.Achievements  h4{
    text-align: start;
    padding-left: 20px;
    text-decoration:underline;
}
.Achievements b{
    font-size: 25px;
}
.Achievements-card h3 {
    color: blueviolet;
    text-decoration:underline;
}


.Achievements-card:hover {
    transform: scale(1.02);
} 
.Achievements-card a{
    font-size: 14px;
    text-decoration: none;
    color:#043886;
}
.Achievements a:hover {
    text-decoration: underline;
  color: #367be3;
}


/* Contact Form */
form {
    max-width: 500px;
    margin:auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.contact h2{
    margin-bottom: 20px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 255, 0.155), rgba(0, 0, 0, 0));
    color:#9b93d8;
}
input, textarea {
    padding: 10px;
    background-color: #cfcbdf;
    border: 1px solid #a997c3;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #0f0323;
    color: #e3dbdb;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #e65c00;
}

/* Responsive */
@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        /* background-color: #1e1e1e; */
        position: absolute;
        top: 60px;
        right: 0;
        width: 100px;
        text-align: right;
        padding: 20px;
        
    }
/*  */

    nav ul.show {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
   
   
}
/* Footer */
footer {
    padding:20px;
    background-color: #1e1e1e;
    color: #fff;
}
.footcont{
    padding-top: 40px;
    display: flex;
    justify-content:flex-start;
    gap: 20px;
}
.footcont .foot-logo{

  max-width: 40px;
  max-height: 40px;
  border-radius:50%;
  /* border:2px solid black; */
}
.footcont .foot-logo:hover {
  transform: translateY(-4px);
  transition: 0.3s;
  opacity: 0.8;
  
}



footer a{
    /* justify-content: center; */
    
}






